<html>
<head>

    <style>
    body{
        background: navy;
    }

    .main-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav{

        display: flex;
       
        flex-direction: row;
        justify-content: center;
    }

    .main-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px;
       
    }

    .reviews-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
       
    }

    form{
        background: white;
        padding: 30px;
    }
    
    .nav-item {
        font: 30px;
        color: white;
        margin-left: 40px;
        margin-right: 40px;
    }

    .nav-item:hover {
        color: navy;
        margin-left: 40px;
        margin-right: 40px;
        background: white;
    }

    textarea{
        width: 100%;
        height: 100px;
    }

    h1{
        font-size: 60px;
        color: white;
    }

    .review{

        background: white;
        padding: 30px;
    }

    .review-header{
        font-size: 20px;
        color: black;
    }
    .review-text{
        font-size: 18px;
        font-style: italic;
        color: black;
    }

    </style>

</head>
<body>
    <div class="main-div">

    <div class="nav">

        <a href="/"><p class="nav-item">Submit Review</p></a>
        <a href="/reviews"><p class="nav-item">Read Reviews</p></a>
 
    </div>
    <div class="main-container">
    <div class="reviews-container">
       
        {% for user_review in reviews %}
            <div class="review">
            <h2 class="review-header"> {{ user_review.name }} </h2>
            <p class="review-text">{{ user_review.review}} </p>

        </div>
        <br><br>

        {% endfor %}

    </div>
</div>

    <div class="main-container">

    <br>
    <i><h1> AmbientIT Kubernetes class Reviews </h1></i>
    </div>

</div>



</body>
</html>